body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    background-image: linear-gradient(to bottom, #23636b, #0B2B40);
    background-attachment: fixed;
}

#titulo {
    text-shadow: 2px 2px 3px rgb(32, 32, 65);
    text-align: center;
    color: #89D99D;
}

#icone {
    position: relative;
    bottom: -10px;
}

main {
    background-color: #e0e0e0;
    height: auto;
    padding: 15px 10px;
    margin: 35px auto;
    border-radius: 30px;
}

main:hover {
    transition: 0.4s;
    transform: translateY(-10px);
    box-shadow: 6px 6px 5px #103033be;
}

input {
    border: 4px outset #698394;
    border-radius: 20px;
    padding: 7px;
}

#botao:hover {
    transition: 0.3s;
    transform: translateY(-4px);
    box-shadow: 4px 4px 4px #a5a5a5e0;
}
#botao:active {
    transition: 0.1s;
    border-color: #39a0ad;
    transform: translateY(3px);
    box-shadow: none;
}

#erro {
    text-align: center;
    color: red;
    font-size: 0.7em;
}

#cep {
    background-color: rgb(207, 207, 207);
    padding: 5px;
    border-radius: 20px;
}

h2 {
    -webkit-text-stroke: 1px black;
    color: aliceblue;
}

#input {
    text-align: center;
}

main > p {
    text-shadow: 2px 2px 2px rgb(136, 136, 136);
    color: darkslategrey;
    display: flex;
    font-family: monospace;
}

main > p::before {
    content: '--->     ';
    margin-right: 10px;
}

@media(min-width:0px) and (max-width:500px) {
    main{
        width: 340px;
    }

    #titulo {
        font-size:1.3em;
    }

    h2 {
        font-size: 1.5em;
    }

    p {
        font-size: 1.2em;
    }

    input::placeholder {
        font-size: 1em;
    }

    #icone {
        width: 25px;
    }

}

@media (min-width:500px) and (max-width:720px) {
    main{
        width: 440px;
    }

    #titulo {
        font-size:1.5em;
    }

    #cep {
        width: 200px;
        height: 30px;
    }
    #botao {
        width: 100px;
        height: 50px;
    }

    h2 {
        font-size: 1.7em;
    }

    p {
        font-size: 1.4em;
    }

    input::placeholder {
        font-size: 1.3em;
    }

    input {
        font-size: 1.1em;
    }

    #erro {
        font-size: 1.1em;
    }

    #icone {
        width: 28px;
    }

}

@media (min-width:720px) and (max-width:1080px) {
    main{
        width: 640px;
    }

    #titulo {
        font-size:1.8em;
    }

    #cep {
        width: 300px;
        height: 40px;
    }
    #botao {
        width: 130px;
        height: 60px;
    }

    h2 {
        font-size: 2.1em;
    }

    p {
        font-size: 1.7em;
    }

    input::placeholder {
        font-size: 1.7em;
    }

    input {
        font-size: 1.5em;
    }

    #erro {
        font-size: 1.3em;
    }

    #icone {
        width: 31px;
    }

} 

@media (min-width:1080px) and (max-width:1920px) {
    main{
        width: 940px;
    }

    #titulo {
        font-size:2.4em;
    }

    #cep {
        width: 600px;
        height: 60px;
    }
    #botao {
        width: 170px;
        height: 80px;
    }

    h2 {
        font-size: 2.4em;
    }

    p {
        font-size: 2.1em;
    }

    input::placeholder {
        font-size: 2.5em;
    }

    input {
        font-size: 1.9em;
    }
    
    #erro {
        font-size: 1.5em;
    }

    #icone {
        width: 35px;
    }
} 